<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>762199644363-ev7lukcbm5v6jhp6ge28b0m87o3dguja.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762199644363-ev7lukcbm5v6jhp6ge28b0m87o3dguja</string>
	<key>API_KEY</key>
	<string>AIzaSyB0LwYLkUjeHp_3tvUgpHqvX_a6D6qHdKw</string>
	<key>GCM_SENDER_ID</key>
	<string>762199644363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.catechism</string>
	<key>PROJECT_ID</key>
	<string>catechism-5c31b</string>
	<key>STORAGE_BUCKET</key>
	<string>catechism-5c31b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762199644363:ios:6b6b2f7188d6156b04e34e</string>
</dict>
</plist>